@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(105, 245, 105);
}

body {
    width: 100%;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head {
    padding: 2em;
}

.head__title {
    font-size: 2.5em;
    text-align: center;
}

.wrapper {
    max-width: 60em;
}

.main__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__screen {
    width: 100%;
    height: 30em;
    background-color: rgb(255, 255, 255);
    border-radius: 1.5em;
}

.screen__header {
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-around;
}

.screen__inputs {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

.screen__form {
    height: 2em;
    padding: .5em;
    font-size: 1em;
    border: 2px solid rgb(1, 129, 1);
    border-radius: 1em;
    outline: none;
}

.screen__form:hover {
    border-color: var(--primary-color);
    background-color: rgb(240, 240, 240);
}

.screen__form:focus {
    border-color: var(--primary-color);
    background-color: rgb(240, 240, 240);
}

.input__description {
    width: 20em;
}

.input__value {
    width: 10em;
}

.screen__select {
    width: 8em;
    background-color: rgb(255, 255, 255);
    padding: .4em;
}

.screen__button {
    width: 5em;
    background-color: rgb(255, 255, 255);
    padding: .4em;
}